.App {
    max-height: 100vh;
}

.linija_ispod_dugmeta{
    text-decoration: none;
}

.dugme1 {
    background-color: #2e4a70;
    font-size: 1.5rem; 
    padding: 1rem 2rem; 
    transition: 0.4s;
}

.dugme1:hover {
    background-color: #85a0a9;
}

.dugme2 {
    background-color: #85a0a9;
    font-size: 1.5rem; 
    padding: 1rem 2rem;
    white-space: nowrap;
    transition: 0.4s;
}

.dugme2:hover {
    background-color: #2e4a70;
}

.dugme3 {
  background-color: #cf8a40;
  font-size: 1.5rem; 
  padding: 1rem 2rem;
  white-space: nowrap;
  transition: 0.4s;
}

.dugme3:hover {
  background-color: #85a0a9;
}

.pocetak {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 4px;
  }
  
  .pocetak:hover {
    background-color: #85a0a9;
  }
  
  .slika {
    object-fit: contain; 
    width: 100%; 
    max-width: 1000px; 
    height: auto; 
    margin: 20px; 
  }

  .slova {
    font-size: 20px;
  }

  .slova1 {
    font-size: 25px;
  }

  .senka {
    text-shadow: 1px 1px 10px rgba(0.3, 0.3, 0.3, 0.5);
  }