*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lalezar", system-ui;
  font-weight: 400;
  font-style: normal;
}

:disabled {
    opacity: 0.6;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-beige {
  background-color: #fff9f0;
}

.bg-sand {
  background-color: #e3d5a5;
}

.bg-golden {
  background-color: #cf8a40;
}

.bg-light-blue {
  background-color: #8cc4da;
}

.bg-blue {
  background-color: #2e4a70;
}

.bg-gray {
  background-color: #85a0a9;
}

.text-beige {
  color: #fff9f0;
}

.text-sand {
  color: #e3d5a5;
}

.text-golden {
  color: #cf8a40;
}

.text-light-blue {
  color: #8cc4da;
}

.text-blue {
  color: #2e4a70;
}

.text-gray {
  color: #85a0a9;
}
